[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
whitenoise = "*"
django-computed-property = "*"
watchdog = "*"

[requires]
python_version = "3.6"
